.cursos {
  padding: 1rem;
}

h1.cursos-title {
  text-align: center;
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .table-responsive {
    max-width: 100vw;
    overflow-x: auto;
  }
}

@media (min-width: 600px) {
  .table-responsive {
    margin: 0 auto;
    text-align: center;
  }
}

.mat-table {
  margin: 1rem auto;
}

.mat-header-cell{
  background-color: rgb(183, 21, 21);
  color: #f0f0f0;
  border: 1px solid #b5b2b2;
  text-align: center;
  font-size: 1.15rem;
}

.mat-cell {
  border: 1px solid #b5b2b2;
  text-align: center;
  min-width: 10rem;
}

.mat-header-cell:first-of-type,
.mat-header-cell:last-of-type,
.mat-cell:first-of-type,
.mat-cell:last-of-type {
  padding: 0;
}
