.banner {
  background-image: url("../../assets/imagen.webp");
  background-position: center;
  background-size: cover;
  height: 28vh;
}

.search {
  margin-top: 20px;
  display:flex;
  justify-content: center;
  min-height: 60vh;
}

#buscador {
  display: block;
  text-align: center;
  width: 100%;
  background-color: transparent;
}

.mat-form-field {
  display: inline-block;
  margin: 0 0 0;
}

.mat-form-field + .mat-button {
  background: rgb(183, 21, 21);
  color: rgb(255,255,255);
  margin-left: 1rem;
}

.mat-radio-button:not(:last-child) {
  margin-right: 1rem;
}
