.registro {
  padding: 3rem 0 2rem 0;
  margin: 1.5rem auto;
  max-width: 30rem;
}

.mat-toolbar {
  background-color: transparent;
  font-size: 2rem;
  padding: 1rem 0 0 0;
  font-weight: bold;
  display: block;
  text-align: center;
}

.mat-form-field {
  display: block;
}

.alert{
  color: red;
}

.alert_reg{
  margin-top: 10px;
}

.buttoncontainer {
  padding: 1rem;
  text-align: center;
}

button {
  background-color: rgb(135, 135, 135);
  color: #FFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#cancelar {
  margin-left: 40px;
  background-color: rgb(183, 21, 21);
}

button:hover {
  background-color: rgba(135,135,135,0.8);
}

#cancelar:hover {
  background-color: rgba(183, 21, 21, 0.8);
}
